!!!
%html
  %head
    %title Week #{week_number}
    :sass
      body
        color: #333
        font-family: helvetica
        margin: 0px auto
        width: 700px
        p
          line-height: 24px
        a
          color: #0a720a
          text-decoration: none
        a:hover
          text-decoration: underline
        header
          border-bottom: 5px solid #0a720a
          margin: 40px 0px
          p
            float: right
          h1
            font-size: 36px
            margin-bottom: 10px
        section
          article
            h1
              margin-bottom: 5px
              text-align: right
            .tags
              font-size: 14px
              line-height: 14px
              margin-top: 5px
              text-align: right
            pre
              background-color: #edf7ed
              padding: 14px
              overflow-x: auto
            p > code
              background-color: #edf7ed
              padding: 4px 8px
            blockquote
              border-left: 5px solid #ccc
              font-size: 14px
              margin-left: 0px
              padding-left: 10px
        footer
          border-top: 5px solid #0a720a
          margin: 40px 0px
          p
            text-align: center
  %body
    %header
      %p #{entry_count} entries and counting
      %h1 Lab Notebook
    %section= yield
    %footer
      %p built at #{build_time}
