!!!
%html
  %head
    :sass
      body
        font-family: helvetica
        margin: 0px auto
        width: 600px
      pre
        background-color: #ccc
        padding: 14px
        line-height: 20px
        overflow-x: auto
  %body
    %header
      %h1 Lab Notebook
    %section= yield
    %footer
