body
  background-color: #FFFFEB
  color: #493F40
  font-family: "EB Garamond"

  h1, h2, h3, h4, h5, h6
    color: #A82835
    font-family: "Futura"
    font-weight: 100

  #wrapper
    margin: 0 auto
    width: 600px

    header
      border-bottom: 4px solid #D6E8E1
      margin-top: 40px
      text-align: center

      h1
        font-size: 60px
        margin: 0

    footer
      border-top: 4px solid #D6E8E1

      p
        font-size: 14px
